/*CLASS*/
.showfont{
	font-size:32px;
	font-style:normal;
	font-weight:bold;
	color: #9f00a2;
	text-align:center;

}

.showbmi{
	font-size:32px;
	font-style:normal;
	font-weight:bold;
	color: #ffc854;
	text-align:center;
	border: 2px solid yellow;

}